.center {text-align: center;}
.bold {font-weight: bold;}
.confName hr {margin: 0px}
.confName hr:last-child {display:none}
/*.btn-sympo       {color: #fff;background-color: #5bc0de;border-color: #46b8da;}*/
.btn-sympo       {color: #fff;background-color: #197B3C;border-color: #17793A ;}
.btn-sympo:hover {color: #fff;background-color: #075031;border-color: #197B3C;}
.sidebar ul li a.active {background-color: #197B3C; color: #fff;}
.sidebar ul li a:hover {background-color: #197B3C;color: #fff;}
.navInfo {color: #197B3C; margin-right:15px;}
a {color: #197B3C}
.fakturaAdmin { text-align: center;}
.fakturaAdmin .fa-check-square{ cursor: pointer;}
.fakturaSort { padding: 7px!important;}
.moreModal {cursor: pointer; }
/*D9DADA*/ 